{% extends 'base.html.twig' %}

{% block title %}
  Mon panier
{% endblock %}

{% block body %}
  <div class="MinWidthGeneral">
    <div class="panier">
      <p>Mon Panier</p>
      {% if cart is not empty %}
        {% if totalQuantity > 0 %}
          <a href="{{ path('reini_cart') }}" title="Réinitialiser le panier" class="btn btn-outline-danger btn-sm float-right">
            <i class="bi bi-x"></i>
            Réinitialiser mon panier
          </a>
        {% endif %}

        <table class="table mt-2">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type de permis</th>
              <th scope="col">Moniteur</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for creneau in cart %}
              <tr>
                <td class="align-middle">{{ creneau.date|date('m/d/Y') }}</td>
                <td class="align-middle">{{ creneau.permis.type }}</td>
                <td class="align-middle">{{ creneau.user.firstname }}</td>
                <td class="align-middle">{{ (creneau.permis.price)}} €</td>
                <td>
                  <a  href="{{ path('remove_item', { id: creneau.id }) }}" class="text-danger d-inline-block"><i class="fas fa-trash-alt" style="color: red;" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer l'article"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <th>Total</th>
            <td></td>
            <td></td>
            <td class="text-center">
              <small>x</small> {{ totalQuantity }}
            </td>
            <th>{{ (totalPrice ) }} €</th>
            {# <td></td> #}
          </tfoot>
        </table>
        <a href="{{ path('app_creneaux_index') }}" class="btn btn-custom-green">Continuez mes achats</a>
        <a href="{{ path('app_creneaux_validate') }}" class="btn btn-custom">Valider</a>
      {% else %}
        <h2>{{ vide }}</h2>
        <a href="{{ path('app_creneaux_index') }}" class="btn btn-custom-green">Continuez mes achats</a>
      {% endif %}
    </div>
  </div>
   {% include 'footer.html.twig' %}
{% endblock %}
